/*header related style*/
*{
    box-sizing: border-box;
      padding: 0;
      margin: 0 auto;
  }
  .header{
    background: #070211, #07021100;
      background-image: url(resources/Banner\ Image.png);
      justify-content: center;
      background-size: cover;
      background-position: center;
      align-items: center;
      height: 600px;
      border-radius: 16px;
      font-family: 'Merriweather', serif;
      display: flex;
      flex-direction: column;
      padding: 0 auto;
      margin: 50px 140px;
  }
  .happy{
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  padding: 0px;
  }
  .party{
  color: white;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  width: 632px;
  padding: 0px;
  }
  /*main related style*/
  .off{
  color: #F00;
  text-align: center;
  font-family: 'Inter';
  font-size: 88px;
  font-weight: 700;
  padding: 0;
  }
  .offf{
    width: 100%;
    margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .deals{
    color: #F00;
text-align: center;
font-family: 'Inter';
font-size: 24px;
font-weight: 700;
margin-top: 48px;
  }
.categories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.img{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 120px;
}
.middel{
    background-image: url(resources/Vectorrr.png);
    height: 600px;
    width: 1320px;
    color: #070211;
    margin: 140px;
}
.group{
display: flex;
flex-direction: column;
justify-content: right;
p
}
.welcome{
    color: white;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 85px;
    text-align: left;
    padding: 126px;
    display: flex;
    flex-direction: column;
}
.dolos{
    color: rgba(255, 255, 255, 0.80);
font-family: 'Inter' sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}
.join{
    color: #FFF;
text-align: left;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 700;
padding-left: 158px;
margin-top: 48px;
}